body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
}

.right-column {
    width: 60%;
    height: 100vh;
    background-image: url(../img/miestasbg.jpg);
    background-size: contain;
    float: right;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;

}
.left-column {
    /* background: coral; */
    width: 40%;
    height: 100vh;
    float: left;
    padding: 80px; 
    background: rgb(246,248,252);
    background: radial-gradient    (circle, rgba(246,248,252,0.    9752275910364145) 2%, rgba(249,    250,254,0.9556197478991597)     100%); 
    /* background-color: aquamarine; */
    /* padding-top: 80px;
    padding-bottom: 80px; */
    /* position: absolute; */
    
}
.title {
    color: #3751FF;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.text {
    color: #1F3051;
    font-size: 25px;
    margin-top: 40px;
}
.text:last-child {
    color: #8B8B99;
    font-size: 13px;
    margin-top: 10px;
    margin-top: 40px;
}